html {
  height: 100%;
  background: radial-gradient(circle, #ffffff, #ffeefe, #ffd9e4, #ffcab5, #ffc780, #f5b564, #eba248, #e09029, #b46034, #7c3b31, #402023, #000000);
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
